@model HotelZaPse.Models.BO.UslugaBo


@if (!ViewBag.IdIsZero)
{
    <div>
        <dl class="dl-horizontal col-md-offset-1">

            @if (HttpContext.Current.Request.Cookies["LangCookie"].Value == "lang=RS")
            {
                <dt class="usluga-details">
                    @Html.DisplayNameFor(model => model.Opis)
                </dt>
            }
            else
            {
                <dt class="usluga-details">
                    Description
                </dt>
            }


            <dd>
                @Html.DisplayFor(model => model.Opis)
            </dd>

            @if (HttpContext.Current.Request.Cookies["LangCookie"].Value == "lang=RS")
            {
                <dt class="usluga-details">
                    @Html.DisplayNameFor(model => model.Cena)
                </dt>
            }
            else
            {
                <dt class="usluga-details">
                    Price
                </dt>
            }

            <dd>
                @Html.DisplayFor(model => model.Cena)
                @if (HttpContext.Current.Request.Cookies["LangCookie"].Value == "lang=RS")
                {
                    <span> dinara / noć</span>
                }
                else
                {
                    <span> din / night</span>
                }
            </dd>



        </dl>
    </div>


}